<template>
  <vs-list-item :title="book.name" style="cursor:pointer"
  :class="{'disabled': limitExceed}"  @click="changeLockState"
  :subtitle="`${book.author.name} ${book.author.surname}`">
    <template slot="avatar">
      <vs-avatar vs-text="Dfsdf SDFDdf"/>
    </template>
    <vs-button :disabled="limitExceed" @click="changeLockState"
    :color="buttonColor" type="border">{{buttonText}}</vs-button>
  </vs-list-item>
</template>

<script>

import BookAPI from '../../api/Book';

export default {
  name: 'BookItem',
  props: {
    book: Object,
    locked: Boolean,
    stateChanged: Function,
    clientId: Number,
    limitExceed: Boolean,
  },
  computed: {
    buttonColor() {
      if (this.locked) return 'danger';
      return 'primary';
    },
    buttonText() {
      if (this.locked) return 'Return book';
      return 'Take book';
    },
  },
  methods: {
    async changeLockState() {
      if (this.limitExceed) return;
      BookAPI.changeLockState(this.clientId, this.locked, this.book.id);
      this.stateChanged(this.book);
    },
  },
};
</script>

<style>
  .book-item {
    cursor: pointer;
    width: 300px;
    min-height: 40px;
    border-radius: 4px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 10px 10px;
    background-color: #2c3e50;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s
  }
  .book-item:hover {
    background-color: #34495e;
  }
  .disabled {
    color: gray !important;
    cursor: not-allowed;
  }
</style>

