<template>
  <div class="content">
    <vs-button @click="createAuthorModal=true" color="primary"
    type="filled">Create Author</vs-button>
    <vs-popup classContent="popup-example"
    title="Create new author" :active.sync="createAuthorModal">
    <p>
      Enter author details below
    </p>
    <vs-input class="inputx" placeholder="Name" v-model="authorName"/>
    <br>
    <vs-input class="inputx" placeholder="Surname" v-model="authorSurname"/>
    <br>
    <input type="date" v-model="authorBirthday" class="inputx" placeholder="Birthday">
    <br><br>
    <vs-button color="success" :disabled="loading"
    @click="saveAuthor" type="border">Save author</vs-button>
    </vs-popup>

    <vs-list>
        <vs-list-header
        icon="supervisor_account" title="Available authors">
        </vs-list-header>
        <vs-list-item  :key="a.id" v-for="a in authors"
        :a="a" :title="a.name" :subtitle="a.surname">
          <vs-button @click="removeAuthor(a.id)" :disabled="loading"
           color="danger">Remove</vs-button>
           <vs-button @click="$router.push(`/admin/author/${a.id}`)"
           color="green">Go to author account</vs-button>
        </vs-list-item>
      </vs-list>
  </div>
</template>

<script>

import AdminAPI from '../../../api/Admin';

export default {
  name: 'AuthorsSubpage',
  data() {
    return {
      authors: [],
      createAuthorModal: false,
      authorBirthday: null,
      authorName: null,
      authorSurname: null,
      loading: false,
    };
  },
  methods: {
    async fetchAuthors() {
      this.authors = await AdminAPI.getAllAuthors();
    },
    async removeAuthor(authorId) {
      this.loading = true;
      await AdminAPI.removeAuthor(authorId);
      this.fetchAuthors();
      this.loading = false;
    },
    async saveAuthor() {
      this.loading = true;
      let birthday = new Date(this.authorBirthday);
      if (birthday) birthday = new Date();
      const payload = {
        name: this.authorName,
        surname: this.authorSurname,
        birthday: Math.floor(birthday / 1000),
      };
      await AdminAPI.createAuthor(payload);
      this.loading = false;
      this.createAuthorModal = false;
      this.fetchAuthors();
    },
  },
  beforeMount() {
    this.fetchAuthors();
  },
};
</script>

<style>
  .content {
    width: 60%;
  }
</style>
