<template>
  <div class="content">
    <vs-navbar class="nabarx">
      <vs-button type="flat" @click="$router.push('/admin')" icon="menu"></vs-button>
      <vs-navbar-title>
        About author({{fullAuthorName}})
      </vs-navbar-title>
    </vs-navbar>
    <vs-button @click="createBookModal=true" color="primary"
    type="filled">Create Book</vs-button>
    <vs-popup classContent="popup-example"
    title="Create new author" :active.sync="createBookModal">
    <p>
      Enter book datils below
    </p>
    <vs-input class="inputx" placeholder="Book name" v-model="bookName"/>
    <vs-button color="success" :disabled="loading"
    @click="saveBook" type="border">Save</vs-button>
    </vs-popup>

    <vs-list>
        <vs-list-header
        icon="book" title="All author books">
        </vs-list-header>
        <vs-list-item  :key="b.id" v-for="b in books"
        :b="b" :title="b.name" :subtitle="getDateOfPub(b.pub_date)">
          <vs-button @click="removeBook(b.id)" :disabled="loading"
           color="danger">Remove</vs-button>
        </vs-list-item>
      </vs-list>
  </div>
</template>

<script>

import AdminAPI from '../../../api/Admin';

export default {
  name: 'AuthorsSubpage',
  data() {
    return {
      books: [],
      author: null,
      createBookModal: false,
      bookName: null,
      loading: false,
    };
  },
  computed: {
    fullAuthorName() {
      if (this.author) return `${this.author.name} ${this.author.surname}`;
      return null;
    },
  },
  methods: {
    getDateOfPub(date) {
      const d = new Date(date);
      return `${d.getDate() + 1}.${d.getMonth() + 1}.${d.getFullYear()}`;
    },
    async fetchAuthor() {
      this.author = await AdminAPI.getAuthorById(parseInt(this.$route.params.author, 10));
    },
    async fetchBooks() {
      this.books = await AdminAPI.getBooksByAuthor(parseInt(this.$route.params.author, 10));
    },
    async removeBook(bookId) {
      this.loading = true;
      await AdminAPI.removeBook(bookId);
      this.fetchBooks();
      this.loading = false;
    },
    async saveBook() {
      this.loading = true;
      const payload = {
        name: this.bookName,
        author_id: parseInt(this.$route.params.author, 10),
      };
      await AdminAPI.createBook(payload);
      this.loading = false;
      this.createBookModal = false;
      this.fetchBooks();
    },
  },
  beforeMount() {
    this.fetchBooks();
    this.fetchAuthor();
  },
};
</script>

<style>
  .content {
    width: 60%;
  }
</style>
