<template>
<div>
  <vs-navbar v-model="activeItem" class="nabarx">
      <vs-button @click="$router.push('/')" type="flat" icon="menu"></vs-button>
       <vs-navbar-title>
        {{fullname}}
      </vs-navbar-title>
      <vs-spacer></vs-spacer>
    </vs-navbar>

  <vs-list>
    <vs-list-header title="Client books" color="warning"></vs-list-header>
    <app-book-item
      v-for="book in books"
      :book="book.book"
      :clientId="clientId"
      :stateChanged="bookUnlocked"
      :key="book.id"
      :locked="true"
    ></app-book-item>
    <vs-list-header title="Available books" color="green"></vs-list-header>
    <app-book-item
      v-for="book in avaialbleBooks"
      :stateChanged="bookLocked"
      :clientId="clientId"
      :limitExceed="limit"
      :book="book"
      :key="book.id"
      :locked="false"
    ></app-book-item>
  </vs-list>
</div>
</template>

<script>
import ClientAPI from '../api/Client';
import BookAPI from '../api/Book';
import BookItem from './items/Book';

export default {
  name: 'ClientPage',
  data() {
    return {
      activeItem: 0,
      client: {},
      books: [],
      avaialbleBooks: [],
      clientId: null,
    };
  },
  computed: {
    fullname() {
      if (!this.client.name) return 'Loading ...';
      return `${this.client.name} ${this.client.surname}`;
    },
    limit() {
      return this.books.length >= 5;
    },
  },
  methods: {
    bookUnlocked(book) {
      this.books.map((item, index) => {
        if (book.id === item.book.id) {
          this.avaialbleBooks.push(book);
          this.books.splice(index, 1);
        }
        return item;
      });
    },
    bookLocked(book) {
      this.avaialbleBooks.map((item, index) => {
        if (book.id === item.id) {
          this.books.push({ book });
          this.avaialbleBooks.splice(index, 1);
        }
        return item;
      });
    },
    async fetchClientDetails() {
      this.client = await ClientAPI.getClientInfo(this.$route.params.id);
      this.fetchClientBooks();
    },
    async fetchClientBooks() {
      this.books = await BookAPI.getBooksForClient(this.$route.params.id);
    },
    async fetchAvaialbleBooks() {
      this.avaialbleBooks = await BookAPI.getAvailableBooksFor();
    },
  },
  created() {
    this.clientId = parseInt(this.$route.params.id, 10);
  },
  beforeMount() {
    this.fetchClientDetails();
    this.fetchAvaialbleBooks();
  },
  components: {
    'app-book-item': BookItem,
  },
};
</script>
