<template>
  <div class="index-page">
    <vs-navbar v-model="activeItem" class="nabarx">
      <vs-button type="flat" icon="menu"></vs-button>
      <vs-navbar-title>
        Main page
      </vs-navbar-title>
      <vs-spacer></vs-spacer>
    </vs-navbar>

    <div class="row-accounts">
       <vs-list>
        <vs-list-header
        icon="supervisor_account" title="Available accounts">
        </vs-list-header>
        <vs-list-item  :key="c.id" v-for="c in clients"
        :c="c" :title="c.name" :subtitle="c.surname">
           <vs-button @click="$router.push(`/client/${c.id}`)"
           color="green">Select account</vs-button>
        </vs-list-item>
      </vs-list>
    </div>
  </div>
</template>

<script>

import ClientAPI from '../api/Client';

export default {
  name: 'Clients',
  data() {
    return {
      activeItem: 0,
      clients: [],
    };
  },
  methods: {
    async fetchClients() {
      this.clients = await ClientAPI.getAllClients();
    },
  },
  beforeMount() {
    this.fetchClients();
  },
};
</script>

<style>
  .client-item {
    display: inline-block;
    width: 100%;
  }
</style>

