<template>
  <div class="index-page">
    <vs-navbar v-model="activeItem" class="nabarx">
      <vs-button type="flat" icon="menu"></vs-button>
      <vs-navbar-title>
        Admin page
      </vs-navbar-title>
      <vs-navbar-item index="0">
        <a href="#">Authors</a>
      </vs-navbar-item>
      <vs-navbar-item index="1">
        <a href="#">Books</a>
      </vs-navbar-item>
    </vs-navbar>
    <app-authors></app-authors>
  </div>
</template>

<script>

import AuthorSubPage from './subpages/Authors';

export default {
  name: 'AdminIndexPage',
  data() {
    return {
      activeItem: 0,
    };
  },
  watch: {
    createAuthorModal(v) {
      if (!v) {
        this.authorBirthday = null;
        this.authorName = null;
        this.authorSurname = null;
      }
    },
    // eslint-disable-next-line
    '$route.params'() {
      this.setupActiveHeaderElement();
    },
  },
  methods: {
    setupActiveHeaderElement() {
      if (this.$route.params.page === 'authors'
      || this.$route.params.page === undefined) this.activeItem = 0;
      else this.activeItem = 1;
    },
  },
  beforeMount() {
    this.setupActiveHeaderElement();
  },
  components: {
    'app-authors': AuthorSubPage,
  },
};
</script>

